body {
  padding: 0;
  margin: 0;
  /* The image used */
  background-image: url("../images/bg-2.jpg");

  width: 100%;
  height: 100%;
  /* Center the image */

  /* Do not repeat the image */
  background-repeat: no-repeat;
  background-position: center;
  /* Resize the background image to cover the entire container */
  background-size: cover;
}

header {
  background-color: black;
  height: 50px;
}

main {
  height: 100%;
}

#hidden>a{
  display: block;
  text-decoration: none;
  font-size: large;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #9e856a, #e3d0ba);

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: 0.3s;
}
#hidden{
  display: none;
  padding: 20px;
}
@media only screen and (max-width: 1030px) {

  nav.big-nav {
  display: none;
}
}


img.nav-logo {
  margin: 20px;
  height: 27px;
  padding-right: 10px;
  margin-left: 20px;
  border-right: 1px solid #9e856a;
  cursor: pointer;
  display: inline-block;
}

img.head-img {
  min-width: 100%;
  margin: 0;
  object-fit: cover;
}

nav {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid #9e856a;
  border-image: linear-gradient(to bottom, red, #9e856a) 1 100%;
}

nav ul.nav-list {
  margin: 20px;
  padding-bottom: 25px;
  display: inline-block;
  position: absolute;
  right: 0;
}

nav ul.nav-list li {
  display: inline-block;
  list-style: none;
}

nav ul.nav-list li a {
  text-decoration: none;
  font-size: 30px;
  margin: 0px 20px;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #9e856a, #e3d0ba);

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: 0.3s;
}

nav ul.nav-list li button {
  text-decoration: none;
  font-size: 30px;
  margin: 0px 20px;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #9e856a, #e3d0ba, #9e856a, #e3d0ba, #9e856a);

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: 0.3s;

  border-color: rgba(255, 255, 255, 0);
}


nav ul.nav-list li:hover {
  background-color: rgba(101, 83, 64, 0.8);
  border-radius: 30px;
}

/* @media screen only and (max-width: 992px) {
  body {
    background-color: blue;
  }
} */

img.main-cover {
  /* height: 900px; */
  /* width: 100%; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  display: block;
  width: 75vw;
  margin: auto;
  padding-top: 20px;
}

div.video-holder {
  background-image: url("../images/bg-2.jpg");
  width: 100%;
  height: auto;

  /* Do not repeat the image */
  background-repeat: no-repeat;
  background-position: center;
  /* Resize the background image to cover the entire container */
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  div.video-holder {
    background-image: url("../images/bg-2.jpg");
    width: 100%;
    height: 40vh;

    /* Do not repeat the image */
    background-repeat: no-repeat;
    background-position: center;
    /* Resize the background image to cover the entire container */
    background-size: cover;
  }
}

video {
  display: block;
  width: 65vw;
  margin: auto;
  padding-top: 80px;
}

div.champions {
  padding-top: 70px;
  float: left;
}

.center-content {
  float: left;
  width: 100%;
  text-align: center;
}

img.jinx-staring {
  width: 300px;
  height: 70vh;
  display: inline-block;
  transition: 3s;
  cursor: pointer;
  padding: 0 3vw;
}

@media only screen and (max-width: 600px) {
  img.jinx-staring {
    width: 300px;
    height: 70vh;
    display: inline-block;
    transition: 3s;
    cursor: pointer;
    padding: 0 5vw;
  }
}

img.jinx-staring:hover {
  transform: scale(1.2);
}

img.vi {
  width: 300px;
  height: 70vh;
  display: inline-block;
  transition: 3s;
  cursor: pointer;
  padding: 0 3vw;
}

@media only screen and (max-width: 600px) {
  img.vi {
    width: 300px;
    height: 70vh;
    display: inline-block;
    transition: 3s;
    cursor: pointer;
    padding: 0 3vw;
  }
}

img.vi:hover {
  transform: scale(1.2);
}

footer {
  font-size: 1.5rem;
  margin: 0px 20px;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #9e856a, #e3d0ba);

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: 0.3s;

  border-top: 1px solid gray;
  margin-top: 35px;
  clear: both;
}

.footer-sec {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  padding-right: 20px;
}

div.footer-sec h4 {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.footer {
  margin: 20px 0px;
  text-align: center;
}

.footer-link {
  display: inline;
  padding: 0;
  margin: 0;
}

.half-page-form {
  width: 50%;
  margin: auto;
  margin-top: 5rem;
  background-color: rgba(10, 10, 10, 0.771);
  padding: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: #9e856a;

}

.fieldset-line {
  width:50%
  padding: 3rem;
}

.form-label {
  display: inline;
  width: 20%;
  padding: 5px;
  color: inherit;
  font-size: inherit;
}

.form-input {
  display: inline-block;
  width: 50%;
  font-size: inherit;
  text-align: left;
}

.form-radio {
  display: inline-block;
  text-align: left;
  font-size: inherit;
}

textarea {
  vertical-align: top;
  font-size: inherit;
}

.form-button {
  text-decoration: none;
  font-size: 30px;
  margin: 0px 20px;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #9e856a, #e3d0ba, #9e856a, #e3d0ba, #9e856a);

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: 0.3s;

  border-color: rgba(255, 255, 255, 0);
}